{% extends "layout.html" %}
{% block body %}
<h1>{{ title }}</h1>

<p>{{page_content}}</p>
<p>Page last modified on {{last_modified_date}} by {{authr_last_modified}}</p>

<!--<form action="/delete_entry" method="POST">-->
    <!--<input type="hidden" name="id" value="{{id}}">-->
    <!--<input type="hidden" name="name" value="{{name}}">-->
    <!--<input type="hidden" name="phone_number" value="{{phone_number}}">-->
    <!--<input type="hidden" name="email" value="{{email}}">-->
    <!--<button type="submit">Delete Entry</button>-->
<!--</form>-->

{% endblock %}